.sidenav.collapsed {
  width: 0;
  margin-left: -1000px;
}
.sidenav {
  position: fixed;
  padding-top: 0.5rem;
  margin-left: 0;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 100%;
  background-color: #0f0f0f;
  color: #fff;
  overflow-y: scroll;
  z-index: 11;
}

.sidenav-header {
  display: flex;
  align-items: center;
  gap: 1.3rem;
  padding: 8px 8px 30px 1.5rem;
}

.sidenav-header-icon {
  aspect-ratio: 1/1;
  height: 40px;
  border-radius: 100%;
  padding: 0.4rem;
}
.sidenav-header-icon:hover {
  background-color: #1f1f1f;
  border-radius: 100%;
  cursor: pointer;
}

.sidenav-icon {
  width: 1.5em;
  height: 1.5em;
  margin-right: 25px;
  cursor: pointer;
  user-select: none;
}
.sidenav-logo {
  width: 100px;
}
.sidenav-items {
  display: flex;
  flex-direction: column;
  padding: 0 8px;
}
.sidenav-items hr {
  border-bottom: none;
  margin: 1rem 0;
  margin-right: 1rem;
  border-color: rgba(255, 255, 255, 0.093);
}
.sidenav-items .item {
  display: flex;
  align-items: center;
  padding: 10px 0 10px 1.3rem;
  margin-left: 0.3rem;
  margin-right: 1rem;
  border-radius: 5px;
  transition: background-color 0.2s;
  cursor: pointer;
}

.sidenav-items .item.active {
  background-color: rgba(255, 255, 255, 0.093);
}
.sidenav-items .item:hover {
  background-color: rgba(255, 255, 255, 0.242);
}
